body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.menu-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 30vw;
  aspect-ratio: 3/1;
  border: solid;
}

.screen {
  grid-column: span 3;
}

img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
