body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 75%;
  height: 55%;
  border: solid;
}

#choose-ids {
  width: 70%;
  height: 7%;
  margin-top: 10%;
}

#choose-items {
  width: 70%;
  height: 7%;
}

.buttons {
  display: flex;
  justify-content: right;
  width: 80%;
  height: 4%;
}

button {
  margin: 0 15px;
  width: 15%;
}
