<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    <link href="main_page.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <form action="/get_orders" method="get" class="container">
      <input type="text" name="UserId" placeholder="Enter an id" />
      <div class="buttons">
        <button type="submit" class="submit-button">Submit</button>
      </div>

    </form>

  </body>

</html>