<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Create order</title>
    <link href="order_create.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <form class="container" action="/orders" method="post">
      <select name="Id" id="choose-ids" required>
        <option selected disabled>Choose waiter id</option>
        {{#each users}}
          <option value={{id}}>{{id}}</option>
        {{/each}}
      </select>
      <select name="Item" id="choose-items" required>
        <option selected disabled>Choose menu item</option>
        {{#each items}}
          <option value={{id}}>{{id}}</option>
        {{/each}}
      </select>
      <div class="buttons">
        <button type="button" class="cancel-button">Cancel</button>
        <button type="submit" class="submit-button">Submit</button>
      </div>

    </form>

  </body>

</html>