<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Sign In</title>
  <link href="signin.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <form class="container">
    <div class="support-container">
      <label for="Login"><b>login</b></label>
      <input type="text" name="Login" />
    </div>

    <div class="support-container">
      <label for="Login"><b>password</b></label>
      <input type="password" name="Password" />
    </div>

    <div class="actions">
      <p class="already-done">New to our game? <span class="sign-in">Create an account</span></p>
      <button type="submit" class="submit-button">Sign In</button>
    </div>

  </form>



</body>

</html>